*{
    margin:0;
    padding:0;
}
body{
}
#breadcrumb{
    background-color: white;
    border: solid black 1px;
    margin: 50px 0;
}
#mainnav{
    background-color: black;
    margin-top: -32px;
    margin-bottom: 50px;
}
#joinchannel{
    background-color:;
}
#codetoolbar{
    background-color: black;
    border-radius: 10px;

}

#codetoolbar pre{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
#imgcenter{
    text-align: center;
    margin: 20px 0;
}

#imgcenter img{
    border-radius: 5px;
    width:200px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
 }
 #textfooter{
     font-size: 18px;
     font-weight: bold;
     padding: 0 50px;
     line-height: inherit;
 }
#textfooter span{
    color:#01ffbd;
}
#demo{
    font-weight: bold;
}
